<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="count" resultType="int">
        select count(*) from user
    </select>

    <select id="findAll" resultType="com.example.demo.entity.User">
        select * from user
    </select>

    <insert id="save">
        insert into user (code,true_name,phone,password,create_date,create_user_id) values
        (#{code},#{trueName},#{phone},#{password},now(),1)
    </insert>

    <update id="update">
        update user set true_name=#{trueName},phone=#{phone},update_date=now(),update_user_id=1 where code=#{code}
    </update>

    <delete id="delete">
        delete from user where code=#{code}
    </delete>

    <select id="findOne" resultType="com.example.demo.entity.User">
        select * from user where code=#{code}
    </select>

    <sql id="pageQueryCondition">
        <where>
            <if test="trueName != null and trueName != ''">
                and u1.true_name LIKE concat('%',#{trueName},'%')
            </if>
            <if test="phone != null and phone != ''">
                and u1.phone LIKE concat('%',#{phone},'%')
            </if>
            <if test="createDateStart != null and createDateStart != ''">
                and u1.create_date &gt;= #{createDateStart}
            </if>
            <if test="createDateEnd != null and createDateEnd != ''">
                and u1.create_date &lt;= #{createDateEnd}
            </if>
        </where>
    </sql>

    <select id="getPageCount" resultType="int">
        SELECT
        count(*)
        FROM
        USER u1
        <include refid="pageQueryCondition"></include>
    </select>
    <select id="getPage" resultType="com.example.demo.entity.UserVo">
        SELECT
        u1.*, u2.true_name create_user_name,
        u3.true_name update_user_name
        FROM
        USER u1
        LEFT JOIN USER u2 ON u1.create_user_id = u2.id
        LEFT JOIN USER u3 ON u1.update_user_id = u3.id
        <include refid="pageQueryCondition"></include>
        limit ${(page-1)*pageSize},#{pageSize}
    </select>
</mapper>